# Rust
/target/
**/*.rs.bk
*.pdb
*.lib
*.exp
*.res

# Vue / Node
web/node_modules/
web/dist/
web/.env.local
web/.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Config
.vscode/
.idea/
